.Wrapper {
  display: flex;
  flex: 1;
  height: 90vh;
  padding: 3rem;
  flex-direction: column;
}

.InnerWrapper {
  display: flex;
  flex: 1;
}

/* .ant-card-body {
  display: flex;
  flex: 1;
  flex-direction: row;
} */

.ant-tabs .ant-tabs-top-content {
  overflow-x: hidden;
  overflow-y: auto;
}

.TabWrapper {
  display: flex;
  flex: 1;
  padding: 2rem;
}

.Vehicle {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.ant-card-actions {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.ant-descriptions-item-label {
  width: 30%;
}
